<!DOCTYPE html>
<html>
  <head>
    <title>Estoque</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/produto/buscar" method="post">
    Buscar: <input type="text" name="procurarProduto" id="procurarProduto">
    <input type="submit" value="buscar">
    
  </form>
    <h1> Controle de Estoque </h1>
    <hr>
    <form action="/produto/salvar" method="post">
    Nome:<br>
    <input type="text" name="nomeProduto" id="nomeProduto"><br><br>
    <input type="hidden" name="idProduto" id="idProduto">
    Descrição:<br>
    <input type="text" name="descricaoProduto" id="descricaoProduto"><br><br>
    <input type="submit" value="salvar">
    <hr>


    <h1>Informações do produto</h1>
  </form>
  <table id="produtos" border="1">

  </body>
</html>
