<!DOCTYPE html>
<html>
  <head>
    <title><%= Estoque %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Controle de Estoque %></h1>
    Nome:<br>
    <input type="text" name="nomeP" id="nomeProduto"><br><br>
    Preço:<br>
    <input type="text" name="precoP" id="precoProduto"><br><br>
    <input type="submit" value="salvar">
  </body>
</html>
